<app-header></app-header>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
<div class="container mt-5">
  <div class="row g-4">
    

    <div class="col-md-4">
      <div  id="usuarios" class="box text-center shadow-sm" (click)="goToUsuarios()">
        <h2>Usuario</h2>
        <img src="https://cdn-icons-gif.flaticon.com/14251/14251527.gif" alt="Ir a usuarios" />
      </div>
    </div>


    <div class="col-md-4">
      <div class="box text-center shadow-sm" (click)="goToProductos()">
        <h2>Producto</h2>
        <img id="Producto" src="https://cdn-icons-gif.flaticon.com/16312/16312730.gif" alt="Ir a productos" />
      </div>
    </div>


    <div class="col-md-4">
      <div class="box text-center shadow-sm" (click)="goToPedido()">
        <h2>Compra</h2>
        <img src="https://cdn-icons-gif.flaticon.com/12707/12707631.gif" alt="Ir a compra" />
      </div>
    </div>

    <div class="col-md-4">
      <div id="proveedor" class="box text-center shadow-sm" (click)="goToProveedor()">
        <h2>Proveedor</h2>
        <img src="https://cdn-icons-gif.flaticon.com/12339/12339191.gif" alt="Ir a proveedor" />
      </div>
    </div>


    <div class="col-md-4">
      <div class="box text-center shadow-sm" (click)="goToVenta()">
        <h2>Venta</h2>
        <img src="https://cdn-icons-gif.flaticon.com/12707/12707615.gif" alt="Ir a venta" />
      </div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>

