<app-header></app-header>
<div class=" d-flex justify-content-between align-items-center mb-0  bg-morado">
    <h1 id="titulo" class="text-center text-white ms-3" style="font-family: calibri; font-size: 80px;" >
      SISTEMA DE INVENTARIO
    </h1>
    <h2 class="text-white custom-h2 s2">
      SPORT 10
    </h2>
  <a class="text-white me-4">
    Cerrar Sesión
  </a>
  </div>  
  
  <div class="container mt-5"><div class="row">
      <div class="col-md-4 ">
        <div class="box d-flex justify-content-center align-items-center shadow ">
          <a  class="text-decoration-none text-secondary">
            <h2>Usuario</h2></a>
            <img class="w-50" src="https://cdn-icons-gif.flaticon.com/14251/14251527.gif"
            alt="Ir a usuarios" 
            style="cursor: pointer; width: 200px;" 
            (click)="goToUsuarios()" id="usuarios"></div>
      </div>
      <div class="col-md-4">
        <div class="box d-flex justify-content-center align-items-center shadow">
        <a class="text-decoration-none text-secondary" >
          <h2>Producto</h2></a>
          <img class="w-50" src="https://cdn-icons-gif.flaticon.com/16312/16312730.gif" (click)="goToProductos()" id="producto"></div>
      </div>
      <div class="col-md-4">
        <div class="box d-flex justify-content-center align-items-center shadow">
          <a class="text-decoration-none text-secondary" ><h2>Compra</h2></a>
          <img class="w-50" src="https://cdn-icons-gif.flaticon.com/12707/12707631.gif" alt=""
          alt="Ir a Compra" 
            style="cursor: pointer; width: 200px;" 
            (click)="goToPedido()">
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <div class="box d-flex justify-content-center align-items-center shadow">
          <a class="text-decoration-none text-secondary">
            <h2>Proveedor</h2></a>
          <img class="w-50" src="https://cdn-icons-gif.flaticon.com/12339/12339191.gif"
          alt="ir a Proveedor"
          style="cursor: pointer; width: 200px;"
          (click)="goToProveedor()" id="proveedor"></div>
      </div>
      <div class="col-md-4">
        <div class="box d-flex justify-content-center align-items-center shadow">
          <a class="text-decoration-none text-secondary">
            <h2>Venta</h2></a>
            <img class="w-50" src="https://cdn-icons-gif.flaticon.com/12707/12707615.gif" 
          alt="Ir a Venta"
          style="cursor: pointer; width: 200px;"
          (click)="goToVenta()"></div>
      </div>
      <div class="col-md-4">
        <div class="box d-flex justify-content-center align-items-center shadow"><a class="text-decoration-none text-secondary"><h2>Informes</h2></a><img class="w-50" src="https://cdn-icons-gif.flaticon.com/15579/15579063.gif" alt=""></div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  
  