<app-headerven></app-headerven>

<div class="container mt-4">
    <div class="d-flex justify-content-center align-items-center mb-5 mt-4">
        <h4 class="text-center mt-4 mb-0">Registros de ventas</h4>
    </div>
    
    <div *ngIf="ventas.length > 0; else sinVentas">
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr class="text-center align-middle">
            <th>Codigo de venta</th>
            <th>Fecha</th>
            <th>Referencia</th>
            <th>Cantidad</th>
            <th>Cliente</th>
            <th>Telefono cliente</th>
            <th>Vendedor</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center align-middle" *ngFor="let venta of ventasPaginadas">
            <td>{{ venta.id }}</td>
            <td>{{ venta.fecha }}</td>
            <td>{{ venta.producto.referencia}}</td>
            <td>{{ venta.cantidad }}</td>
            <td>{{ venta.nombre_cli }}</td>
            <td>{{ venta.num_tel_cli }}</td>
            <td>{{ venta.vendedor.nombres}}</td>
          </tr>
        </tbody>
      </table>
      <nav *ngIf="totalPaginas > 1" class="d-flex justify-content-center mt-3">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="paginaActual === 1">
      <button class="page-link" (click)="cambiarPagina(paginaActual - 1)">
        Anterior
      </button>
    </li>

    <li class="page-item"
        *ngFor="let pagina of paginas"
        [class.active]="pagina === paginaActual">
      <button class="page-link" (click)="cambiarPagina(pagina)">
        {{ pagina }}
      </button>
    </li>

    <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
      <button class="page-link" (click)="cambiarPagina(paginaActual + 1)">
        Siguiente
      </button>
    </li>
  </ul>
</nav>
    </div>
  
    <ng-template #sinVentas>
      <div class="alert alert-info">No hay ventas registradas.</div>
    </ng-template>
  </div>
  