*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body{
   width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenedor{
   width: 80%;
   margin:0px auto;
   margin-top: 20px;
   display: flex;
   flex-flow:column wrap;
   gap: 20px;
}

#contenedor a{
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: bold;
   margin: auto;
}
#contenedor a:hover{
   color: #ff0015;
   font-weight: bold;
   transform: translate(3px);
}

img{
   width: 40px;
   height: 40px;
}

table{
   width: 100%;
   margin: auto;
}

table tr{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 10px;
}

fieldset{
   width: 40%;
   margin: auto;
   border: rgb(0, 0, 0) 8px double;
   border-radius: 10px;
   padding: 20px;
}

legend{
   font-weight: bold;
   padding: 5px;
   border: rgb(0, 0, 0) 8px double;
   background: rgb(29, 231, 231);;
}

h3{
   font-weight: 500;
}

input{
   background: rgb(209, 204, 204);
   border: 0;
   padding: 5px 15px;
   border-radius:5px ;
}


#boton{
   width: 204%;
}

#boton a{
   border: 2px solid rgb(12, 12, 12);
   width: 160px;
   border-radius: 10px;
    background: #00fc71;
    color: #020202;
    text-transform: uppercase;
    font-size: 1,5em;
    letter-spacing: 0.1em;
    transition: 0.5s;
}

@media(max-width:360px){
   table tr{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 10px;
   }
   #boton{
      width: 100%;
   }
   }














