<app-headerven></app-headerven>

<div class=" container mt-5">
  <div class="row">
    
    <div class="col-md-4 mb-3 mt-5">
      <div class="box d-flex justify-content-center align-items-center shadow text-center bg-white rounded p-3">
        <a class="text-decoration-none text-secondary">
          <h2>Crear venta</h2>
        </a>
        <img class="w-50" src="https://cdn-icons-gif.flaticon.com/11186/11186846.gif" 
             alt="" style="cursor: pointer;"
             (click)="goToCrearven()">
      </div>
    </div>
    
    <div class="col-md-4 mb-3 mt-5">
      <div class="box d-flex n justify-content-center align-items-center shadow text-center bg-white rounded p-3">
        <a class="text-decoration-none text-secondary">
          <h2>Consultar venta</h2>
        </a>
        <img class="w-50" src="https://cdn-icons-gif.flaticon.com/14255/14255792.gif"
             alt="" style="cursor: pointer;"
             (click)="goToConsultarven()">
      </div>
    </div>
    
    <div class="col-md-4 mb-3 mt-5">
      <div class="box d-flex justify-content-center align-items-center shadow text-center bg-white rounded p-3">
        <a class="text-decoration-none text-secondary">
          <h2>Devoluciones</h2>
        </a>
        <img class="w-50" src="https://cdn-icons-gif.flaticon.com/12147/12147202.gif"
             alt="" style="cursor: pointer;"
             (click)="goToDevolucionven()">
      </div>
    </div>

  </div>
</div>
