
    <div class="d-flex justify-content-between align-items-center mt-5" >
        <div class="col-md-4 d-flex justify-content-center align-items-center">
             <img class="img-fluid w-75" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg048tD35--JnGN6JtGj5VIqGLV_GnhEmjuA&s" alt="image" h-70>
        </div>
        <div class=" w-50 aling-left ms-rigth mx-auto"  >
            <div class="input-group mb-3">
                <span class="input-group-text">Nombres</span>
                <input type="text" aria-label="First name" class="form-control">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Direccion</span>
                <input type="text" aria-label="Direccion" class="form-control">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Correo</span>
                <input type="email" aria-label="Correo" class="form-control">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Numero de contacto</span>
                <input type="number" aria-label="Numero telefono" class="form-control">
              </div>
             <div class="input-group mb-3"> 
                <span class="input-group-text">Tipo de documento</span>
                <select class="form-select" aria-label="Tipo de documento">
                  <option value="1">Cedula de ciudadania</option>
                  <option value="2">Tarjeta de identidad</option>
                  <option value="3">Pasaporte</option>
                </select>
             </div>
             <div class="input-group mb-3">
                <span class="input-group-text">Numero de documento</span>
                <input type="number" aria-label="Numero documento" class="form-control">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Fecha de nacimiento</span>
                <input type="date" aria-label="Fecha de nacimiento" class="form-control">
              </div>
              <div class="col-auto d-flex justify-content-center">
                <button type="submit" class="btn btn-success ">Registrar</button>
              </div>
        </div>
    </div>

