<app-header></app-header>

<div class=" w-50 aling-left ms-rigth mx-auto shadow mt-5 mb-5"  >
    <div class=" d-flex justify-content-center align-items-center h-25">
        <h4 class="text-center mt-4 mb-0">Solicitud de pedido</h4>
    </div>
    <div class="w-75 mx-auto mt-3 mb-0">
      <div class="input-group mb-3 ">
        <span class="input-group-text mt-4">Nombre de producto</span>
        <input type="text" aria-label="Producto" class="form-control mt-4">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Cantidad</span>
        <input type="number" aria-label="Cantidad" class="form-control">
      </div>
      <div class="input-group mb-3"> 
        <span class="input-group-text">Talla</span>
        <select class="form-select" aria-label="Talla">
          <option value="1">20</option>
          <option value="2">21</option>
          <option value="3">22</option>
          <option value="4">23</option>
          <option value="5">24</option>
          <option value="6">25</option>
          <option value="7">26</option>
          <option value="8">27</option>
          <option value="9">28</option>
          <option value="10">29</option>
          <option value="11">30</option>
          <option value="12">31</option>
          <option value="13">32</option>
          <option value="14">33</option>
          <option value="15">34</option>
          <option value="16">35</option>
          <option value="17">36</option>
          <option value="18">37</option>
          <option value="19">38</option>
          <option value="20">39</option>
          <option value="21">40</option>
          <option value="22">41</option>
          <option value="23">42</option>
          <option value="24">43</option>
          <option value="25">44</option>
          <option value="26">45</option>
          <option value="27">46</option>
          <option value="28">47</option>
        </select>
     </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Referencia</span>
        <input type="text" aria-label="Referencia" class="form-control">
      </div>
     <div class="input-group mb-3">
        <span class="input-group-text">ID Proveedor</span>
        <input type="number" aria-label="Proveedor" class="form-control">
      </div>
      <div class="col-auto d-flex justify-content-center ">
        <button class="btn btn-success mb-5 shadow " data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Solicitar</button>
                    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalToggleLabel">¿Desea realizar la solicitud?</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                              <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Confirmar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h1 class="modal-title fs-5">Solicitud realizada</h1>
                            </div>
                          </div>
                        </div>
                      </div>
      </div>
    </div>
</div>
