<app-headerven></app-headerven>

<div class="container mt-5">
  <div class="row justify-content-center">

    <div class="col-md-4">
      <div class="box d-flex flex-column justify-content-center align-items-center shadow p-4">
        <a class="text-decoration-none text-secondary">
          <h2>Usuario</h2>
        </a>
        <img class="w-50"
             src="https://cdn-icons-gif.flaticon.com/14251/14251527.gif"
             alt="Ir a usuarios"
             style="cursor: pointer; width: 200px;"
             (click)="goToPerfil()">
      </div>
    </div>

    <div class="col-md-4">
        <div class="box d-flex flex-column justify-content-center align-items-center shadow p-4">
          <a class="text-decoration-none text-secondary">
            <h2>Venta</h2></a>
            <img class="w-50" src="https://cdn-icons-gif.flaticon.com/12707/12707615.gif" 
          alt="Ir a Venta"
          style="cursor: pointer; width: 200px;"
          (click)="goToVentaven()"></div>
      </div>
      <div class="col-md-4">
        <div class="box d-flex justify-content-center align-items-center shadow">
        <a class="text-decoration-none text-secondary" >
          <h2>Producto</h2></a>
          <img class="w-50" src="https://cdn-icons-gif.flaticon.com/16312/16312730.gif" (click)="goToProductos()"></div>
      </div>
  </div>
</div>
