<app-header></app-header>
<div class="container mt-5 shadow">
    <fieldset class=" p-4">
        <h1>DATOS PROVEEDORES</h1>
        <form (ngSubmit)="actualizarProveedor()">
          <div class="row mb-3">
            <div class="col-md-3 mb-3">
              <label for="nombre">Nombre</label>
              <input id="nombre" class="form-control" [(ngModel)]="proveedor.nombre" name="nombre" placeholder="Nombre" disabled="true">
            </div>
            <div class="col-md-3 mb-3">
              <label for="nit">NIT</label>
              <input id="nit" class="form-control" [(ngModel)]="proveedor.nit" name="nit" placeholder="NIT" disabled="true">
            </div>
            <div class="col-md-3 mb-3">
              <label for="celular">Celular</label>
              <input id="celular" class="form-control" [(ngModel)]="proveedor.celular" name="celular" placeholder="Celular">
            </div>
            <div class="col-md-3 mb-3">
              <label for="email">Email</label>
              <input id="email" class="form-control" [(ngModel)]="proveedor.email" name="email" placeholder="Email">
            </div>
            <div class="col-md-3 mb-3">
              <label for="direccion">Dirección</label>
              <input id="direccion" class="form-control" [(ngModel)]="proveedor.direccion" name="direccion" placeholder="Dirección">
            </div>
            <div class="col-md-3 mb-3">
              <label for="producto">Producto</label>
              <input id="producto" class="form-control" [(ngModel)]="proveedor.producto" name="producto" placeholder="Producto">
            </div>
            <div class="col-md-3 mb-3">
              <label for="marca">Marca</label>
              <input id="marca" class="form-control" [(ngModel)]="proveedor.marca" name="marca" placeholder="Marca">
            </div>
            <div class="col-md-3 mb-3">
              <label for="valor_unitario">Valor unitario</label>
              <input id="valor_unitario" class="form-control" [(ngModel)]="proveedor.valor_unitario" name="valor_unitario" type="number" placeholder="Valor unitario">
            </div>
          </div>
          
        <div class="col-12 text-end">
          <button class="btn btn-success" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Actualizar</button>
        </div> 
        </form>
    </fieldset>
</div>
