<div class="container mt-5">
    <table class="table table-bordered">
        <thead>
            <tr class="bg-morado">
                <th>Fecha</th>
                <th>Proovedor</th>
                <th>Cantidad</th>
                <th>valor</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-morado">
                <td>04/10/24</td>
                <td>Nike</td>
                <td>45</td>
                <td>4.000.000</td>
            </tr>
            <tr class="bg-morado">
                <td>24/07/24</td>
                <td>Adidas</td>
                <td>25</td>
                <td>2.300.000</td>
            </tr>
            <tr class="bg-morado">
                <td>07/03/24</td>
                <td>Fila</td>
                <td>15</td>
                <td>1.300.000</td>
            </tr>
            <tr class="bg-morado">
                <td>20/07/24</td>
                <td>30</td>
                <td>Puma</td>
                <td>3.500.000</td>
            </tr>
            <tr class="bg-morado">
                <td>06/09/24</td>
                <td>Valenciaga</td>
                <td>10</td>
                <td>30.000.000</td>
            </tr>
            <tr class="bg-morado">
                <td>15/03/24</td>
                <td>Gucci</td>
                <td>5</td>
                <td>15.000.000</td>
            </tr>
            <tr class="bg-morado">
                <td>Alicia</td>
                <td>30</td>
                <td>Madrid</td>
                <td></td>
            </tr>
            <tr class="bg-morado">
                <td>Alicia</td>
                <td>30</td>
                <td>Madrid</td>
                <td></td>
            </tr>
            <tr class="bg-morado text-white">
                <td>Alicia</td>
                <td>30</td>
                <td>Madrid</td>
                <td></td>
            </tr>
            <tr class="bg-morado text-white">
                <td>Alicia</td>
                <td>30</td>
                <td>Madrid</td>
                <td></td>
            </tr>
            <tr class="bg-morado text-white">
                <td>Alicia</td>
                <td>30</td>
                <td>Madrid</td>
                <td></td>
            </tr>
            <tr class="bg-morado text-white">
                <td>Alicia</td>
                <td>30</td>
                <td>Madrid</td>
                <td></td>
            </tr>
            <tr class="bg-morado">
                <td>Alicia</td>
                <td>30</td>
                <td>Madrid</td>
                <td></td>
            </tr>
            <tr class="bg-morado">
                <td>Alicia</td>
                <td>30</td>
                <td>Madrid</td>
                <td></td>
            </tr>
            <tr class="bg-morado">
                <td>Alicia</td>
                <td>30</td>
                <td>Madrid</td>
                <td></td>
            </tr>   
        </tbody>
    </table>
</div>