<app-header/>
<div class="d-flex justify-content-center align-items-center " style="height: 100vh;">
    <div class="bg-morado text-white p-4 text-center" style="width: 50%;">
        <h1>Menu</h1>
        <div class="mb-3">
            <label for="exampleSelect"></label>
            <select class="form-select" id="exampleSelect">
              <option selected>Selecciona...</option>
              <option value="1">Ganacias</option>
              <option value="2">Ventas</option>
              <option value="3">Productos</option>
            </select>
          </div>

        <h1>Fecha Inicio</h1>
        <div class="mb-3">
            <label for="exampleDate" class="form-label"></label>
            <input type="date" class="form-control" id="exampleDate">
          </div>
        <h1>Fecha Final</h1>
        <div class="mb-3">
            <label for="exampleDate" class="form-label"></label>
            <input type="date" class="form-control" id="exampleDate">
          </div>
          <div class="m-3">
            <h1><input type="submit" class="btn btn-primary" value="Enviar"></h1>
          </div>        

    </div>
  </div>    