<div class="website">
    <div class="container mt-5">
        <h2>Crear Nueva Categoría</h2>
        <form>
            <div class="mb-3 row">
                <label for="subcategoria" class="col-sm-2 col-form-label">Nombre de la categoría</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="subcategoria" placeholder="Ingrese el nombre de la categoría" required>
                </div>
            </div>

            
            <div class="row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </div>
        </form>
    </div>
</div>