*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;

}
body{
    width: 100%;
}

#titulo{
    grid-column: 1/7;
    display: flex;
    justify-content: space-between;
    background: #a30dda;
    padding: 5px;
    gap: 20px;
}
#titulo h1{
    font-family: "calibri";
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    text-shadow: 
    3px 3px 0 black,
    -3px -3px 0 black,
    3px -3px 0 black,
    -3px 3px 0 black;
    font-size: 80px;
    margin:0 auto 
}
#titulo h2{
    font-family: "calibri";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-right: 90px;
    color: aliceblue;
    color: white;
    text-shadow: 
    2px 2px 0 black,
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black;
}
#titulo h4{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
}
#usuario{
    margin: 0 auto;
    margin-top: 4%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 2.5% 62.5% 12.5%;
    grid-template-areas: "a . b c";
    
}
#image{
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #a30dda;;
    box-shadow: 8px 8px 3px violet;
    
}
#c{
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #a30dda;;
    font-size: 150%;
    box-shadow: 8px 8px 3px violet;
    overflow: auto;
}
#c li{
    margin-left: 4%;
}
#d{
    grid-area: c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}
#d button{
    width: 100px;
    height: 30px;
    background: linear-gradient(40deg,#a30dda,pink);
}
#registros{
    height: 400px;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 0 auto;
    margin-top: 1%;
}
#registrar{
    display: flex;
    margin-left: 7%;
    margin-top: 2%;
    align-items: center;
}
#registrar button{
    background: linear-gradient(40deg,#a30dda,pink);
    height: 30px;
}
#boton button:hover{
    background: violet;
    transition:all 0.5s;
    transform: translate(5px,-5px);
    
}