<app-header></app-header>
<div class=" w-50 aling-left ms-rigth mx-auto shadow mt-5 mb-5">
    <div class=" d-flex justify-content-center align-items-center h-25">
        
        <form [formGroup]="editarForm" (ngSubmit)="onSubmit()">
            <div class="input-group mb-3 ">
                <label class="input-group-text mt-4" for="nombres">Nombres</label>
                <input class="form-control mt-4" id="nombres" type="text" formControlName="nombres" />
            </div>
        
            <div class="input-group mb-3 ">
                <label class="input-group-text mt-4" for="apellidos">Apellidos</label>
                <input class="form-control mt-4" id="apellidos" type="text" formControlName="apellidos" />
            </div>
            
            <div class="input-group mb-3 ">
                <label class="input-group-text mt-4" for="direccion">Dirección</label>
                <input class="form-control mt-4" id="direccion" type="text" formControlName="direccion" />
            </div>
            <div class="input-group mb-3 ">
                <label class="input-group-text mt-4" for="num_tel">Número de Teléfono</label>
                <input class="form-control mt-4" id="num_tel" type="text" formControlName="num_tel" />
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text mt-4" for="rol_id">Rol</label>
                <select class="form-control mt-4" id="rol_id" formControlName="rol_id">
                <option *ngFor="let rol of roles" [value]="rol.id">
            {{ rol.name }}
          </option>
        </select>
      </div>


            <div class="input-group mb-3 d-flex justify-content-center align-items-center"  >
                <button class="input-group-text mt-4 " type="submit" [disabled]="editarForm.invalid">Guardar cambios</button>
            </div>
            
          </form>
    </div>
</div>
