*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;

}
body{
    width: 100%;
}

#titulo{
    grid-column: 1/7;
    display: flex;
    justify-content: space-between;
    background: #a30dda;
    padding: 5px;
    gap: 20px;
}
#titulo h1{
    font-family: "calibri";
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    text-shadow: 
    3px 3px 0 black,
    -3px -3px 0 black,
    3px -3px 0 black,
    -3px 3px 0 black;
    font-size: 80px;
    margin:0 auto 
}
#titulo h2{
    font-family: "calibri";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-right: 90px;
    color: aliceblue;
    color: white;
    text-shadow: 
    2px 2px 0 black,
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black;
}
#titulo h4{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
}
#formulario{
    margin: 0 auto;
    display: grid;
    margin-top: 2%;
    width: 50%;
    padding: 1%;
    border: 2px solid #a30dda;;
    box-shadow: 8px 8px 3px violet;
    justify-content: center;
}
#formulario li{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    height: 70%;
    width: 100%;
    font-size: 150%;
    padding: 1% 0;
    column-gap: 1%;
    margin-top: 1%;
  
}

#formulario a{
    color: black;
}
#formulario input{
    width: 80%;
    height: 20px;   
}
#formulario button  {
    padding: 1%;
    width: 15%;;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background: linear-gradient(40deg,#a30dda,pink);
}
#formulario button:hover{
    background: violet;
    transition:all 0.5s;
    transform: translate(5px,-5px);
    
}
#formulario div{
    margin-top: 5%;

}

    