<div class=" d-flex justify-content-between align-items-center mb-0 bg-morado">
    <h1 id="Titulo" class="text-center text-white ms-3" style="font-family: calibri; font-size: 80px;">
      SISTEMA DE INVENTARIO
    </h1>
    <h2 class="text-white custom-h2">
      SPORT 10
    </h2>

    <div class="d-grid gap-2 btn-success ms-3">
      <button (click)="confirmarLogout()" class="btn btn-danger" class="btn btn-success   btn btn btn-light me-5" >Cerrar sesion</button>
      <h6 class="text-white  me-5 text-center" style="font-family: me-5" id="rol">
        administrador
      </h6>
    </div>
</div>
