<app-header></app-header>
<div class="d-flex justify-content-center align-items-center mb-5 mt-4">
    <h4 class="text-center mt-4 mb-0">Informe</h4>
</div>
<div class="container mt-5">
    <table class="table table-bordered table-dark">
        <thead>
            <tr class="bg-morado">
                <th>Fecha</th>
                <th>Proovedor</th>
                <th>Cantidad</th>
                <th>valor</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-morado">
                <td>04/10/24</td>
                <td>Nike</td>
                <td>45</td>
                <td>4.000.000</td>
            </tr>
            <tr class="bg-morado">
                <td>24/07/24</td>
                <td>Adidas</td>
                <td>25</td>
                <td>2.300.000</td>
            </tr>
            <tr class="bg-morado">
                <td>07/03/24</td>
                <td>Fila</td>
                <td>15</td>
                <td>1.300.000</td>
            </tr>
            <tr class="bg-morado">
                <td>04/10/24</td>
                <td>Nike</td>
                <td>45</td>
                <td>4.000.000</td>
            </tr>
            <tr class="bg-morado">
                <td>24/07/24</td>
                <td>Adidas</td>
                <td>25</td>
                <td>2.300.000</td>
            </tr>
            <tr class="bg-morado">
                <td>07/03/24</td>
                <td>Fila</td>
                <td>15</td>
                <td>1.300.000</td>
            </tr>
            <tr class="bg-morado">
                <td>04/10/24</td>
                <td>Nike</td>
                <td>45</td>
                <td>4.000.000</td>
            </tr>
            <tr class="bg-morado">
                <td>24/07/24</td>
                <td>Adidas</td>
                <td>25</td>
                <td>2.300.000</td>
            </tr>
            <tr class="bg-morado">
                <td>07/03/24</td>
                <td>Fila</td>
                <td>15</td>
                <td>1.300.000</td>
            </tr>
            <tr class="bg-morado">
                <td>04/10/24</td>
                <td>Nike</td>
                <td>45</td>
                <td>4.000.000</td>
            </tr>
            <tr class="bg-morado">
                <td>24/07/24</td>
                <td>Adidas</td>
                <td>25</td>
                <td>2.300.000</td>
            </tr>
            <tr class="bg-morado">
                <td>07/03/24</td>
                <td>Fila</td>
                <td>15</td>
                <td>1.300.000</td>
            </tr>
            <tr class="bg-morado">
                <td>04/10/24</td>
                <td>Nike</td>
                <td>45</td>
                <td>4.000.000</td>
            </tr>
            <tr class="bg-morado">
                <td>24/07/24</td>
                <td>Adidas</td>
                <td>25</td>
                <td>2.300.000</td>
            </tr>
            <tr class="bg-morado">
                <td>07/03/24</td>
                <td>Fila</td>
                <td>15</td>
                <td>1.300.000</td>
            </tr>
            <tr class="bg-morado">
                <td>04/10/24</td>
                <td>Nike</td>
                <td>45</td>
                <td>4.000.000</td>
            </tr>
            <tr class="bg-morado">
                <td>24/07/24</td>
                <td>Adidas</td>
                <td>25</td>
                <td>2.300.000</td>
            </tr>
            <tr class="bg-morado">
                <td>07/03/24</td>
                <td>Fila</td>
                <td>15</td>
                <td>1.300.000</td>
            </tr>
            <tr class="bg-morado">
                <td>04/10/24</td>
                <td>Nike</td>
                <td>45</td>
                <td>4.000.000</td>
            </tr>
            <tr class="bg-morado">
                <td>24/07/24</td>
                <td>Adidas</td>
                <td>25</td>
                <td>2.300.000</td>
            </tr>
            <tr class="bg-morado">
                <td>07/03/24</td>
                <td>Fila</td>
                <td>15</td>
                <td>1.300.000</td>
            </tr>
            
            
        </tbody>
    </table>
</div>