.nav-item.dropdown:hover .dropdown-menu {
  display: block; /* Mostrar el submenú cuando se pase el mouse */
}

.navbar-nav .dropdown-menu {
  display: none; /* Por defecto, el submenú está oculto */
}

.nav-item.dropdown a:hover {
  cursor: pointer;
}

.nav-item.dropdown .dropdown-menu a {
  transition: background-color 0.3s ease;
}

.nav-item.dropdown .dropdown-menu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
