*{
    text-decoration: none;
    list-style: none;
}
#general{
    background: gray;
    height: 600px;
    font-family: 'Courier New', Courier, monospace;
}
#compras{
    display: grid;
    grid-template-rows: 55% 45%;
    height: 30%;
    margin-left: 3%;
}
#compras h1{
    display: flex;
    height: 100%;
    font-size: 500%;
    margin-left: 2%;
    align-items: end;
    color: darkmagenta;

}
#compras h2{
    display: flex;
    height: 100%;
    font-size: 400%;
    margin-left: 2%;
    align-items:start;
    color: darkmagenta;
}
#compras h4{
    display: flex;
    color: blue;
    align-items: start;
    font-size: 150%;
    margin-top: 5%;
    margin-left: 2%;
}
#devolucion{
    background: blue;
    margin-top: 13%;
    width: 45%;
    margin-left: 5%;
    font-size: 190%;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: violet;
}