*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(imagenes/pexels-printexstar-11680684.jpg) no-repeat;
    background-size: cover;
}


#contenedor{
    width: 70%;
    margin: auto;
    margin-top: 10%;
}

fieldset{
    width: 40%;
    margin: auto;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    border: rgb(76, 6, 94) 8px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color:rgb(3, 2, 3);

}

legend{
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
}

#datos{
    text-align: center;
}

input{
    line-height: 25px;
}

#nom input{
    width: 325px;
    padding: 1px;
    padding-right: 40px;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    border: 0;
 }

 #can input{
    width: 125px;
    padding: 1px;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    border: 0;
 }

 #estado{
    width: 65px;
    padding: 1px;
    border-radius: 5px;
    font-size: 1rem;
    border: 0;
 }

 #ref input{
    width: 320px;
    padding: 1px;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    border: 0;
 }

 #id input{
    width: 300px;
    padding: 1px;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    border: 0;
 }

#enviar{
    text-align: center;
    margin-top: 20px;
}

#enviar input{
   padding: 5px;
   border-radius: 5px;
   font-size: 1rem;
}

#enviar input:hover{
    background: greenyellow;
    color: black;
    font-weight: bold;
}