*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;

}
body{
    width: 100%;
}

#titulo{
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
    background: #a30dda;
    padding: 5px;
    gap: 20px;
}
#titulo h1{
    font-family: "Trebuchet MS";
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: linear-gradient(rgb(107, 12, 107),rgb(248, 155, 236));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 80px;
}
#titulo h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-right: 90px;
    color: aliceblue;
}
#titulo h4{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
}
#registros{
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
}
#usuario{
    margin: 0 auto;
    margin-top: 4%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 10% 70% ;
    grid-template-areas: "a . b b";

}
#image{
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #a30dda;;
    box-shadow: 8px 8px 3px violet;
    
}
#c{
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #a30dda;;
    font-size: 150%;
    box-shadow: 8px 8px 3px violet;
    
}
#c li{
    margin-left: 4%;
    
}
#c input{

}
#c button{
    width: 160px;
    height: 30px;
    background: linear-gradient(40deg,#a30dda,pink);
    display: flex;
    align-items: center;
    justify-content: center;
}
#boton{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 4%;
}


