<app-header></app-header>

<div class="container mt-4">
    <div class="d-flex justify-content-center align-items-center mb-5 mt-4">
        <h4 class="text-center mt-4 mb-0">Registros de ventas</h4>
    </div>
    
    <div *ngIf="ventas.length > 0; else sinVentas">
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr class="text-center align-middle">
            <th>Codigo de venta</th>
            <th>Fecha</th>
            <th>Referencia</th>
            <th>Cantidad</th>
            <th>Cliente</th>
            <th>Telefono cliente</th>
            <th>Vendedor</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center align-middle" *ngFor="let venta of ventas">
            <td>{{ venta.id }}</td>
            <td>{{ venta.fecha }}</td>
            <td>{{ venta.producto.referencia}}</td>
            <td>{{ venta.cantidad }}</td>
            <td>{{ venta.nombre_cli }}</td>
            <td>{{ venta.num_tel_cli }}</td>
            <td>{{ venta.vendedor.nombres}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <ng-template #sinVentas>
      <div class="alert alert-info">No hay ventas registradas.</div>
    </ng-template>
  </div>
  